<html>
    <div><strong>Books rated by {{ username }}:</strong></div>
    <ul>
        {% for title in ratedBooks %}
            <li>
                <strong>Title: </strong>{{ title }}<br>
            </li>
        {% endfor %}
    </ul>
    <br>
    <div><strong>Most similar users:</strong></div>
    <ul>
        {% for user in users %}
            <li>
                <strong>User: </strong>{{ user }}<br>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <div><strong>Custom recommendations for {{ username }}:</strong></div>
    <ul>
        {% for title in titles %}
            <li>
                <strong>Title: </strong>{{ title }}<br>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}"><button>Home</button></a>
</html>