<html>
    <div>
        <div><strong>Custom recommendation for {{ username }}:</strong></div>
        <div><strong>Title: </strong>{{ book["Title"] }}</div>
        <div><strong>Categories: </strong>{{ book["categories"] }}</div>
        <div><details><summary><strong>Description: </strong></summary>{{ book["description"] }}</details></div>
    </div>
    <br>
    <div><strong>Most similar user: </strong>{{ similarUser }}</div>
    <hr>
    <div><strong>Shared Books:</strong></div>
    <ul>
        {% for book in sharedBooks %}
            <li>
                <strong>Title: </strong>{{ book['Title'] }}<br>
                <strong>Categories: </strong>{{ book['categories'] }}<br>
                <details><summary><strong>Description: </strong></summary>{{ book['description'] }}</details><br>
            </li>
        {% endfor %}
    </ul>
</html>