<html>
    <body>
        <form id="bookForm" action="/recommendations" method="get">
            <div>
                <label for="input">Type a book name:</label>
                <input type="text" id="input" name="title" list="titlesList" style="width: 300px;">
                <datalist id="titlesList">
                    {% for title in book_titles %}
                        <option value="{{ title }}">
                    {% endfor %}
                </datalist>
                <button type="button" id="searchButton">Search</button>
                <button type="button" id="randomButton">Random</button>
            </div>
        </form>
    </body>
</html>

<script>
    // all of this is for not making the autofill too cluttered
    const inputElement = document.getElementById('input');
    const datalist = document.getElementById('titlesList');
    const randomButton = document.getElementById('randomButton');
    const searchButton = document.getElementById('searchButton');

    // this line works actually
    const bookTitles = {{ book_titles|safe }};
    console.log(bookTitles)

    inputElement.addEventListener('input', function () {
        const inputValue = inputElement.value.toLowerCase();
        const suggestions = bookTitles.filter(title => title.toLowerCase().startsWith(inputValue));

        datalist.innerHTML = ''; // Clear previous suggestions

        // Counter to track the number of elements added
        let counter = 0;

        if (suggestions.length) {
            suggestions.forEach(title => {
                if (counter < 5) {
                    const option = document.createElement('option');
                    option.value = title;
                    datalist.appendChild(option);

                    // Increment the counter
                    counter++;
                } else {
                    // Break out of the loop if 5 elements are already added
                    return;
                }
            });
        }
    });

    randomButton.addEventListener('click', function () {
                const randomIndex = Math.floor(Math.random() * bookTitles.length);
                const randomTitle = bookTitles[randomIndex];
                inputElement.value = randomTitle;
            });

    searchButton.addEventListener('click', function () {
                const title = inputElement.value;
                window.location.href = `/recommendations?title=${encodeURIComponent(title)}`;
            });
</script>