<html>
    <body>
        <form action="/recommendations" method="get">
            <div>
                <label for="input">Type a book name:</label>
                <input type="text" id="input" name="title" list="titles" style="width: 300px;">
                <datalist id="titles">
                    {% for title in book_titles %}
                        <option value="{{ title }}">
                    {% endfor %}
                </datalist>
                <button type="submit">Search</button>
                <button type="button" id="randomButton">Random</button>
            </div>
        </form>
    </body>
</html>

<script>
    // all of this is for not making the autofill too cluttered
    const inputElement = document.getElementById('input');
    const datalist = document.getElementById('titles');
    const randomButton = document.getElementById('randomButton');

    // this line works actually
    const bookTitles = {{ book_titles|safe }};
    console.log(bookTitles);

    inputElement.addEventListener('input', function () {
        const inputValue = inputElement.value.toLowerCase();
        const suggestions = bookTitles.filter(title => title.toLowerCase().startsWith(inputValue));

        datalist.innerHTML = ''; // Clear previous suggestions

        if (suggestions.length <= 10) {
            suggestions.forEach(title => {
                const option = document.createElement('option');
                option.value = title;
                datalist.appendChild(option);
            });
        }
    });

    randomButton.addEventListener('click', function () {
                const randomIndex = Math.floor(Math.random() * bookTitles.length);
                const randomTitle = bookTitles[randomIndex];
                inputElement.value = randomTitle;
            });
</script>